@tailwind base;
@tailwind components;
@tailwind utilities;

/* this is for hide bar under carousel*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
